@import "~bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
  background: green;
  padding: 25px;
}

.card-body {
  background-color: white;
  margin: 50px auto;
  border: 2px solid gray;
  border-radius: 25px;
  height: 600px;
  width: 400px;
}

.top {
  margin-right: 80%;
  margin-top: -10%;
  font-size: 100px;
}

.middle {
  padding-top: 25%;
  height: 60%;
  font-size: 100px;
}

.bottom {
  margin-left: 80%;
  font-size: 100px;
}
